
# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Rope project settings
.ropeproject

# mypy
.mypy_cache/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Docker volumes
mysql_data/

# Python cache
__pycache__/
